.connect {
    width: 90%;
    margin: 0 auto;
}

.connect h2 {
    text-align: center;
}

.connect__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
}