.word {
    border: 2px solid#EE818A;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    text-align: center;
    font-weight: 700;
    background-color: #fbf7f4;
    cursor: pointer;
}

.word:hover,
.word:active {
    background-color: #EE818A;
    color: #fbf7f4;
}

.clicked, 
.clicked:hover,
.clicked:active {
    border-color: #7EB77F;
    background-color: #fbf7f4;
    color:#7EB77F;
}

.found,
.found:hover,
.found:active {
    background-color: #7EB77F;
    border-color: #7EB77F;
    color: #fbf7f4;
    cursor: default;
}

.wrong {
    animation: incorrect 3s ease-in-out forwards;
}

@keyframes incorrect {
    0% {
        background-color: rgb(101, 23, 30);
    } 40% {
        background-color: rgba(238, 129, 138, 0.2);
    } 100% {
        background-color: rgba(238, 129, 138, 0);
    }
}