.word {
    border: 2px solid #4C9F70;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    text-align: center;
    font-weight: 700;
    background-color: #D6EBDF;
    cursor: pointer;
}

.word:hover,
.word:active {
    background-color: #BB2649;
    color: #FFF;
}

.clicked,
.clicked:hover,
.clicked:active {
    border-color: #4C9F70;
    background-color: #FFF;
    color: #4C9F70;
}

.found,
.found:hover,
.found:active {
    background-color: #4C9F70;
    border-color: #4C9F70;
    color: #FFF;
    cursor: default;
}

.wrong {
    -webkit-animation: incorrect 3s ease-in-out forwards;
    animation: incorrect 3s ease-in-out forwards;
}

@-webkit-keyframes incorrect {
    0% {
        background-color: rgb(101, 23, 30);
    }

    40% {
        background-color: rgba(238, 129, 138, 0.2);
    }

    100% {
        background-color: rgba(238, 129, 138, 0);
    }
}

@keyframes incorrect {
    0% {
        background-color: rgb(101, 23, 30);
    }

    40% {
        background-color: rgba(238, 129, 138, 0.2);
    }

    100% {
        background-color: rgba(238, 129, 138, 0);
    }
}