.progressSummary {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.progressSummary h2 {
    text-align: center;
}

.progressSummary__allCompleted {
    border: 4px solid #BB2649;
    color: #BB2649;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 700;
    display: inline-block;
}

.progressSummary__allCompleted ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
}

.progressSummary__allCompleted h3 {
    margin: 0.5rem 0;
}