.userData {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userData h2 {
    color: #7EB77F;
}

.userData__photo {
    width: 10rem;
    height: 10rem;
    position: relative;
}

.userData__photo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.userData__photo button {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: #7EB77F;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.userData__photo button svg {
    width: 100%;
    height: 100%;
    color: #fdf3eb;
}

.userData__data {
    display: inline-block;
}

.userData__data--info {
    font-weight: 700;
}

.userData__data--actions button {
    background-color: #7EB77F;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.25rem;
    color: #fdf3eb;
    cursor: pointer;
}

.userData__data--actions button:first-child {
    margin-left: 0;
}

.userData__data--actions button:hover,
.userData__data--actions button:active {
    background-color: #EE818A;
}

@media (max-width: 300px) {
    .userData__data--actions {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .userData {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 70%;
    }

    .userData h2 {
        grid-column: 1 / span 2;
        text-align: center;
    }

    .userData__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2rem;
    }

    .userData__data p {
        margin: 0.5rem 0;
    }

    .userData__data--actions {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 768px) {
    .userData {
        min-width: 70%;
        max-width: 90%;
    }

    .userData__data--actions button:last-child {
        margin-left: 0;
    }
}