.form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.form__closeBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem 0 0;
    color: #BB2649;
}

.form__closeBtn:hover,
.form__closeBtn:active {
    color: #FFF;
}

@media (min-width: 576px) {
    .form {
        padding: 0 1rem;
    }
}