.form {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.form label {
    margin: 0.25rem 0;
}

.form input:focus-visible {
    outline-color: #7EB77F;
}

.form__submitBtn {
    max-width: fit-content;
    margin: 1rem auto 0;
}

.form__closeBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem 0 0;
}

@media (min-width: 576px) {
    .form input {
        width: 50%;
    }
    
    .form {
        align-items: center;
    }
}