.modal-form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.modal-form__close {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    color: #BB2649;
}

.modal-form__close:hover,
.modal-form__close:active {
    color: #FFF;
}

@media (min-width: 576px) {
    .modal-form {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .modal-form button {
        -ms-grid-column: 1 / span 2;
        grid-column: 1 / span 2;
    }
}