.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-form__submit {
    width: fit-content;
    margin: 1rem auto 0;
}

.modal-form__error {
    font-size: 0.7rem;
    color: red;
    text-align: center;
}

.modal-form__close {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
}

@media (min-width: 576px) {
    .modal-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .modal-form__submit {
        grid-column: 1 / span 2;
    }

    .modal-form__spinner {
        grid-column: 1 / span 2;
    }
}