.form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.form label {
    margin: 0.25rem 0;
}

.submitBtn,
.closeBtn {
    color: #BB2649;
}

.submitBtn:hover,
.submitBtn:active,
.closeBtn:hover,
.closeBtn:active {
    color: #FFF;
}

.submitBtn {
    max-width: fit-content;
    margin: 1rem 0;
}

.closeBtn {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 1rem 0;
}

.messages {
    max-width: 50vw;
    visibility: hidden;
}

.success-message {
    color: #7EB77F
}

.error-message {
    color: #BB2649;
}