.exercise {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transform: translateY(1rem);
    animation: exercise 0.5s ease-in-out forwards;
}

.exercise h2 {
    text-align: center;
}

.exercise__radios {
    display: inline-block;
    margin: 0 auto;
}

.exercise__submitBtn {
    min-width: 9rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    border: 2px #EE818A solid;
    background-color: #EE818A;
    color: #F5DBCB;
    cursor: pointer;
}

.exercise__submitBtn:hover,
.exercise__submitBtn:active {
    border-color: #fdf3eb;
    background-color: #7EB77F;
}

@keyframes exercise {
    80% {
        transform: scale(1.1);
    } 100% {
        transform: scale(1) translateY(0);
        visibility: visible;
    }
}