.pair {
    border: 0.125rem solid #BB2649;
    background-color: rgba(187, 38, 73, 0.2);
    border-radius: 1rem;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem 0;
    max-width: 50%;
    position: relative;
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem);
    visibility: hidden;
    -webkit-animation: pair 0.2s ease-in-out forwards;
    animation: pair 0.2s ease-in-out forwards;
}

.left {
    text-align: left;

}

.right {
    align-self: flex-end;
    text-align: right;
}

@-webkit-keyframes pair {
    80% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        visibility: visible;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }
}

@keyframes pair {
    80% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        visibility: visible;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }
}