.modal {
    z-index: 99;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    border-radius: 1rem;
    background-color: #FFF;
    border: 4px solid #4C9F70;
}

.modal__header {
    font-weight: 700;
    padding: 1rem 0;
    text-align: center;
}

.modal__header h2 {
    margin: 0;
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.modal__actions {
    text-align: right;
}

.modal__actions a,
.modal__actions button {
    background-color: #7EB77F;
    color:#fdf3eb;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
    margin: 0 0.25rem;
}

.backdrop {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 576px) {
    .modal__header {
        font-size: 1.5rem;
    }

    .modal {
        width: fit-content;
    }
}