.modal {
    z-index: 99;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 90%;
    border-radius: 1rem;
    background-color: #FFF;
    border: 4px solid #4C9F70;
}

.modal__header {
    font-weight: 700;
    padding: 1rem 0;
    text-align: center;
}

.modal__header h2 {
    margin: 0;
}

.modal__content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.modal__actions {
    text-align: right;
}

.modal__actions a,
.modal__actions button {
    margin: 1rem;
    color: #BB2649;
}

.modal__actions a:hover,
.modal__actions a:active,
.modal__actions button:hover,
.modal__actions button:active {
    color: #FFF;
}

.backdrop {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 576px) {
    .modal__header {
        font-size: 1.5rem;
    }

    .modal {
        width: fit-content;
    }
}