.auth {
    padding: 2rem 1rem;
    margin: 2rem 1rem 2rem;
    border: 2px solid #BB2649;
    border-radius: 1rem;
}

.auth__header {
    margin: 0;
    text-align: center;
}

@media (min-width: 576px) {
    .auth {
        margin: 0 2rem;
    }
}

@media (min-width: 768px) {
    .auth {
        margin: 0 auto;
        width: 80%;
    }
}