.header {
    text-align: center;
    padding: 1rem;
}

.header h1 {
    margin: 0;
}

.panels {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1.5rem;
}

@media (min-width: 992px) {
    .panels {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
    }
}