.welcome {
    text-align: center;
}

.welcome__header {
    padding: 1rem 1rem 2rem;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #FFF;
    background-color: #4C9F70;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    position: relative;
}

.welcome__header .welcome__cta-btn {
    text-decoration: none;
    font-size: 1.5rem;
    width: fit-content;
    position: absolute;
    bottom: 0.75rem;
}

.welcome__cta-btn {
    font-size: 2rem;
}

.welcome__red-link {
    color: #BB2649;
    transition: color 0.2s ease;
}

.welcome__red-link:hover,
.welcome__red-linkactive {
    color: #FFF;
}

.welcome__section--info img {
    width: 100%;
}

.welcome__stats {
    margin-top: 1.5rem;
    background-color: #4C9F70;
    color: #FFF;
}

.welcome__stats h3 {
    color: #FFF;
}

.stats-wrapper { 
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    text-decoration: none;
    color: inherit;
    font-size: 0.75rem;
}

/*tablet screens*/
@media (min-width: 576px) {
    .welcome__header {
            padding: 3.5rem 1rem;
            border-bottom-left-radius: 45%;
            border-bottom-right-radius: 45%;
        }
    }

/*laptops and bigger*/
@media (min-width: 992px) {
    .welcome__section--info {
        display: -moz-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 1rem 0;
    }

    .welcome__section--info:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .welcome__section--info img,
    .welcome__section--info p {
        width: 45%;
    }

    .welcome__section--info img {
        box-shadow: 2px 2px 2px #333;
    }

    .welcome__section--info:nth-child(odd) img {
        box-shadow: -2px 2px 2px #333;
    }

    .stats-wrapper {
        flex-direction: row;
        justify-content: center;
    }
}