.question {
    border: 2px solid #4C9F70;
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
    background-color: #D6EBDF;
}

.question__header {
    background-color: #4C9F70;
    padding: 1rem 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question h3 {
    text-align: center;
    color: #FFF;
    margin: 0;
    font-size: 1.5rem;
}

.question__answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 0 1rem;
    justify-items: center;
    margin: 1rem 0;
}