.test__container {
    position: relative;
}

.test__container--btn {
    position: relative;
    left: 70%;
    bottom: -2rem;
    color: #BB2649;
    margin-bottom: 1rem;
}

.test__container--btn:hover,
.test__container--btn:active {
    color: #FFF;
}