.lessons {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.lessons a {
    text-decoration: none;
    color: inherit;
}

.lesson {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.lessons a:hover .lesson,
.lessons a:active .lesson,
.lessons a:hover .done,
.lessons a:active .done,
.lessons a:hover .todo,
.lessons a:active .todo {
    background-color: #EE818A;
    color: #F5DBCB;
}

.unit__item--title {
    padding: 0.5rem 0;
}

.unit__item--badge {
    height: 1.5rem;
    display: flex;
    align-items: center;
}

.unit__item--badge span {
    display: none;
}

.unit__item--badge svg {
    height: 1.5rem;
    width: 1.5rem;
}

.done {
    color: #7EB77F;
}

.todo {
    color: #EE818A;
}

@media (min-width: 576px) {
    .unit__item--badge span {
        display: inline;
    }
}