.lessons {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.lessons a {
    text-decoration: none;
    color: inherit;
}

.lesson {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.lessons a:hover .lesson,
.lessons a:active .lesson {
    background-color: #EE818A;
    color: #F5DBCB;
}