.test {
    padding: 0.5rem;
    background-color: #4C9F70;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test a {
    text-decoration: none;
    color: #FFF;
    background-color: #BB2649;
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    transition: transform 0.1s linear;
}

.test a:hover,
.test a:active {
    background-color: #FFF;
    color: #BB2649;
}

.test a:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}