.form {
    margin: 1rem 0.5rem 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

@media (max-width: 360px) {
    .create-account-button:hover::before {
        height: 6rem;
    }

    .create-account-button:hover::before,
    .create-account-button:hover::before,
    .create-account-button:hover::before {
        height: 3rem;
    }
}

@media (min-width: 576px) {
    .form {
        max-width: 75%;
        margin: 1rem auto 0;
    }
}