* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #FFF;
  font-family: 'Montserrat', sans-serif;
  color: #093148;
  min-height: 100%;
}

@media (min-width: 992px) {
  main {
    min-height: calc(100vh - 4.25rem - 5.625rem);
  }
}