.header {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    align-items: center;
    background-color: #4C9F70;
}

.header__logo {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #FFF;
    display: relative;
    z-index: 0;
}

.header__logo a {
    text-decoration: none;
    color: inherit;
}

.header__logo a:hover span,
.header__logo a:active span {
    font-weight: 700;
}

.header__logo span {
    transition: all 0.1s ease;
}

.header__logo span:nth-child(2) {
    transition-delay: 0.05s;
}

.header__logo span:nth-child(3) {
    transition-delay: 0.1s;
}

.header__logo span:nth-child(4) {
    transition-delay: 0.15s;
}

.header__logo span:nth-child(5) {
    transition-delay: 0.2s;
}

.header__logo span:nth-child(6) {
    transition-delay: 0.25s;
}

.header__logo span:nth-child(7) {
    transition-delay: 0.3s;
}

.header__logo span:nth-child(8) {
    transition-delay: 0.35s;
}

.header__nav {
    display: flex;
}

.header__nav a,
.logoutBtn,
.loggedInNavLink {
    margin-left: 1rem;
}