.header {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    align-items: center;
    height: 4.25rem;
}

.header__logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.header__logo a {
    text-decoration: none;
    color: inherit;
}

.header__logo a:hover,
.header__logo a:active {
    color: #7EB77F;
}

.header__nav a {
    text-decoration: none;
}

.header__nav a,
.logoutBtn,
.loggedInNavLink {
    padding: 0.25rem 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    border: 2px solid #EE818A;
    font-size: 1rem;
}

.header__nav a:first-child,
.loggedInNavLink, 
.logoutBtn {
    background-color: #EE818A;
    display: none;
    color: #F5DBCB;
}

.logoutBtn {
    cursor: pointer;
}

.loggedInNavLink:hover, 
.loggedInNavLink:active,
.logoutBtn:hover, 
.logoutBtn:active,
.header__nav a:hover,
.header__nav a:active {
    background-color: #7EB77F;
    border-color: #F5DBCB;
    color: #F5DBCB;
}

@media (min-width: 576px) {
    .header__nav a:first-child,
    .loggedInNavLink,
    .logoutBtn {
        display: inline;
    }
}