.sentence {
    margin: 0.5rem 0;
}

.sentence input {
    text-align: center;
}

.sentence input:active,
.sentence input:focus-visible {
    outline-color: #4C9F70;
}

span.sentence__wrong {
    color: #BB2649;
    font-size: 0.7rem;
    border: 2px solid #BB2649;
    border-radius: 1rem;
    padding: 0.25rem;
}

.sentence input:disabled {
    border: 2px solid #4C9F70;
}

input.sentence__wrong {
    border-color: #BB2649;
    border-style: solid;
}