.table {
    border: 1px solid black;
    margin: 0 auto;
    background-color: #D6D5B3;
    padding: 0.5rem;
}

.table__title{
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.table__cell {
    border: 1px solid black;
}

.table__cell span {
    font-weight: 700;
}