.flashcardExercise {
    margin: 1rem 0;
    width: 80%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 1rem;
    background-color: #D6EBDF;
}

.flashcardExercise__question {
    -ms-grid-column: 1 / span 2;
    grid-column: 1 / span 2;
    background-color: #4C9F70;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.flashcardExercise__question,
.flashcardExercise__answer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    text-align: center;
}

.flashcardExercise__answer {
    cursor: pointer;
    border-bottom-left-radius: 1rem;
}

.flashcardExercise__answer:last-child {
    border-left: 2px #4C9F70 solid;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
}

.flashcardExercise__answer:hover,
.flashcardExercise__answer:active {
    background-color: #BB2649;
    color: #FFF;
}

.flashcardExercise__answer--incorrect {
    -webkit-animation: incorrect 3s ease-in-out forwards;
    animation: incorrect 3s ease-in-out forwards;
}

.flashcardExercise__answer--correct,
.flashcardExercise__answer--correct:hover,
.flashcardExercise__answer--correct:active {
    background-color: #4C9F70;
    color: #0B3954;
    border-top: 2px solid #D6EBDF;
}

.flashcardExercise__done div {
    cursor: default;
}

.flashcardExercise__done .flashcardExercise__answer:hover:not(.flashcardExercise__answer--correct),
.flashcardExercise__done .flashcardExercise__answer:active:not(.flashcardExercise__answer--correct) {
    background-color: inherit;
    color: inherit;
}

@media (min-width: 576px) {
    .flashcardExercise {
        width: 50%;
    }
}

@-webkit-keyframes incorrect {
    0% {
        background-color: rgb(101, 23, 30);
    }

    40% {
        background-color: rgba(238, 129, 138, 0.2);
    }

    100% {
        background-color: rgba(238, 129, 138, 0);
    }
}

@keyframes incorrect {
    0% {
        background-color: rgb(101, 23, 30);
    }

    40% {
        background-color: rgba(238, 129, 138, 0.2);
    }

    100% {
        background-color: rgba(238, 129, 138, 0);
    }
}